.article__author-info {
  display: flex;
  padding: 0 1rem;
}

.article__author-info div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__author-avatar {
  flex: 2;
}

.article__author-img {
  height: auto;
  width: 50%;
  border-radius: 9999px;
}

div.article__author-desc {
  flex: 4;
  flex-direction: column;
  align-items: flex-start;
}

.article__author-name {
  font-size: 0.9rem;
  color: var(--Very-Dark-Grayish-Blue);
}

.article__author-date {
  color: var(--Grayish-Blue);
  font-size: 0.9rem;
}

.article__author-share {
  flex: 2;
}

.article__share-modal {
  background: var(--Very-Dark-Grayish-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article__share-text {
  flex: 4;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  text-align: center;
  color: var(--Desaturated-Dark-Blue);
  font-size: 0.9rem;
}

.article__share-icons {
  flex: 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
}

.article__icon-container {
  background: var(--Light-Grayish-Blue);
  padding: 0.5rem;
  border-radius: 9999px;
}

.article__icon-container--active {
  background: var(--Desaturated-Dark-Blue);
  border-radius: 9999px;
  width: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 0.5rem 0;
}

@media (min-width: 1024px) {
  .article__share-modal {
    width: 50%;
    height: 50%;
    left: unset;
    right: -10%;
    top: -50%;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 20px #ccc;
  }

  .article__icon-container {
    cursor: pointer;
  }

  .article__icon-container.share__icon--active--desktop {
    background: var(--Desaturated-Dark-Blue);
  }
}
